---
- name: Update apt cache
  ansible.builtin.apt:
    update_cache: yes
    cache_valid_time: 3600
  become: yes

- name: Upgrade all packages to latest version
  ansible.builtin.apt:
    upgrade: dist
    autoremove: yes
    autoclean: yes
  become: yes

- name: Install common system utilities
  ansible.builtin.apt:
    name:
      - curl
      - wget
      - vim
      - git
      - jq
      - unzip
      - gnupg
      - lsb-release
      - ca-certificates
      - software-properties-common
      - apt-transport-https
      - python3-pip
      - ntp
      - chrony
    state: present
  become: yes

- name: Configure timezone to UTC
  community.general.timezone:
    name: UTC
  become: yes

- name: Enable and start NTP service
  ansible.builtin.systemd:
    name: chrony
    enabled: yes
    state: started
  become: yes

- name: Add Certbot PPA repository
  ansible.builtin.apt_repository:
    repo: ppa:certbot/certbot
    state: present
    update_cache: yes
  become: yes

- name: Install Certbot for HTTPS certificate management
  ansible.builtin.apt:
    name:
      - certbot
      - python3-certbot-nginx
      - python3-certbot-apache
    state: present
  become: yes

- name: Create certbot renewal hook directory
  ansible.builtin.file:
    path: /etc/letsencrypt/renewal-hooks/deploy
    state: directory
    mode: '0755'
  become: yes

- name: Configure system security limits
  ansible.builtin.lineinfile:
    path: /etc/security/limits.conf
    line: "{{ item }}"
    create: yes
  loop:
    - "* soft nofile 65536"
    - "* hard nofile 65536"
    - "* soft nproc 32768"
    - "* hard nproc 32768"
  become: yes

- name: Configure sysctl for production workloads and high performance
  ansible.posix.sysctl:
    name: "{{ item.key }}"
    value: "{{ item.value }}"
    state: present
    reload: yes
  loop:
    - { key: 'net.ipv4.ip_forward', value: '1' }
    - { key: 'net.bridge.bridge-nf-call-iptables', value: '1' }
    - { key: 'net.bridge.bridge-nf-call-ip6tables', value: '1' }
    - { key: 'vm.swappiness', value: '10' }
    - { key: 'fs.file-max', value: '2097152' }
    - { key: 'net.core.somaxconn', value: '32768' }
    - { key: 'net.core.netdev_max_backlog', value: '16384' }
    - { key: 'net.ipv4.tcp_max_syn_backlog', value: '8192' }
    - { key: 'net.ipv4.tcp_slow_start_after_idle', value: '0' }
    - { key: 'net.ipv4.tcp_tw_reuse', value: '1' }
    - { key: 'net.ipv4.ip_local_port_range', value: '1024 65535' }
    - { key: 'net.ipv4.tcp_rmem', value: '4096 87380 16777216' }
    - { key: 'net.ipv4.tcp_wmem', value: '4096 65536 16777216' }
    - { key: 'net.core.rmem_max', value: '16777216' }
    - { key: 'net.core.wmem_max', value: '16777216' }
    - { key: 'net.ipv4.tcp_congestion_control', value: 'bbr' }
    - { key: 'net.core.default_qdisc', value: 'fq' }
    - { key: 'vm.max_map_count', value: '262144' }
    - { key: 'kernel.pid_max', value: '4194304' }
    - { key: 'fs.inotify.max_user_watches', value: '524288' }
    - { key: 'fs.inotify.max_user_instances', value: '512' }
  become: yes
  ignore_errors: yes

- name: Disable swap for Kubernetes compatibility
  ansible.builtin.shell: |
    swapoff -a
    sed -i '/ swap / s/^\(.*\)$/#\1/g' /etc/fstab
  become: yes
  args:
    executable: /bin/bash

- name: Load required kernel modules
  community.general.modprobe:
    name: "{{ item }}"
    state: present
  loop:
    - overlay
    - br_netfilter
  become: yes

- name: Persist kernel modules on boot
  ansible.builtin.copy:
    content: |
      overlay
      br_netfilter
    dest: /etc/modules-load.d/kubernetes.conf
    mode: '0644'
  become: yes
